/* 这是存放公共色值 */
$backgroundColorGray:#ccc;
$backgroundColorWhite:#fff;
$colorGray:#587995;
$colorGray1:#314453;
$borderColor:#e1e6eb;
$color2:#b8c2cc;
$color3:#324354;
$color4:#cad7ea;
$color5:#f5f7fa;
$color6:#e9eff5;
$color7:#cdd9e4;
$color8:#24bf50;
$color9:#3e9ae8;
$color10:#eeb822;
$color11:#f8ce8d;
$color12:#fad000;
$color13:#91aef1;
$color14:#f17979;
$color15:#3adc92;
$color16:#12b7f5;
$pingfang:'PingFang-SC-Bold,PingFang-SC-Medium';
$pingbold:'PingFang-SC-Bold';
$pingmedium:'PingFang-SC-Medium';


//登录模块使用
$titleColor:$color3;
$inputBorder:$color7;
$selectCountryColor:$colorGray;
$placeholderColor:$color2;
$buttonBackgroundColor:$color4;
$buttonOKBackgroundColor:$color16;
$buttonColor:$color3;
$loginbackgroundColor:$color5;
//我的模块使用
$backgroundColor:$color5;
$imgBorderColor:$color6;
$loginTextColor:$color3;

//开户记录使用
$openTextColor:$colorGray;
$openNeckBackgroundColor:$color5;
$openText:$colorGray1;
$openBorderColor:$borderColor;
$openButtonText:$color8;
$openButtonColor:$color9;
//首页使用
$homeTextColor:$colorGray1;
$homeBorderColor:$color6;
$homeText:$color2;
$homeTextSelect:$color3;
$homeEmColor:$color10;
$homeFontFamily:$pingbold;
$homeFontFamily1:$pingmedium;
$homeTextWhite:$backgroundColorWhite;
$homeIcoBackgroundColor:$color11;
$homeIcoBackgroundColor1:$color12;
$homeIcoBackgroundColor2:$color13;
$homeIcoBackgroundColorRed:$color14;
$homeIcoBackgroundColorGreen:$color15;
$homeIcoBackgroundColorGray:$backgroundColorGray;
$homeBorderColor:$borderColor;

//舆情页面使用
$sentimentFontBold:$pingbold;
$sentimentFontMedium:$pingmedium;
$sentimentTextColor:$colorGray;
$sentimentText:$colorGray1;
$sentimentHeadBackgroundColor:$color5;